:root {
    --primary-color: #466e49;
    --secondary-color: #red;
    --text-color: #fff;
}

html {
    margin: 0;
    padding: 0;
    background-color: #466e49;
}

.titulo {
    text-align: center;
    background-color: #232323;
    color: #fff;
    padding: 20px;
}

.jugador, .dealer {
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.carta {
    position: relative;
    left: 100px;
    width: 150px;
    margin-left: -50px;
}

#cartas-jugador, #cartas-dealer {
    height: 200px;
}